body {
  background-color: #9e9e9e;
}

.mdl-grid {
  margin: 0 auto;
  max-width: 600px;
}

.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.mdl-card__actions > .requires {
  padding-right: 10px;
}

.fab-bottom-right {
  top: auto;
  right: 10px;
  bottom: 10px;
  left: auto;
  position: absolute;
}